{% extends 'base.html' %}
{% block title %}Home{% endblock%}
	
{% block content %}
	<title>CLicked Video</title>

	<h3>{{ video.title }}</h3>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.video_id}}"
			frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen data-video-id="{{ video.video_id }}" id="videoIframe"></iframe>
	
	<h5>{{ video.description }}</h5>
	{% if request.user.is_authenticated %}
	{% if is_liked %}
		<button type="submit" id="like" class="fa fa-thumbs-down" data-video-id="{{ video.id }}">Dislike</button>
	{% else %}
		<button type="submit" id="like" class="fa fa-thumbs-up" data-video-id="{{ video.id }}">Like</button>
	{% endif %}

{% endif %}

	
	<form id="addCommentForm">
		{{ comment_form.as_p }}
		<input type="submit" name='submit' value='Add Comment' id="submitButton">
	</form>
	<br>
	<h5>All comments</h5>
	
	<ul id="allComments" class="list-group list-group-flush">
	{% for comment in comments %}
	<li class="list-group-item">{{comment.userprofileinfo.user.username}} : {{comment.text}}</li>
	{% endfor %}                                        	
	</ul>

{% endblock %}
