<!DOCTYPE html>
<html>
<head>
	<title>{{ total_like }}Like{ total_like }</title>
</head>
<body>
	{% if request.user.is authenticated %}
<form action="{% url 'like_post' %}" method="post">
	{% csrf_token %}

	{% if is_liked %}
	<button type="submit" id="like" name="video_id" value="{{ video.video_id }}" class="btn btn-danger">Dislike</button>

	{% else %}
	<button type="submit" id="like" name="video_id" value="{{ video.video_id }}" class="btn btn-primary">Like</button>
	{% endif %}
</form>
{% endif %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>


